<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner organizations:</p>
        <ul>
            <li>
                <img src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo">
                <div>
                    <strong>BrightFuture Builders</strong>
                    <p>info@brightfuture.org</p>
                </div>
            </li>
        
            <li>
                <img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo">
                <div>
                    <strong>GreenHarvest Growers</strong>
                    <p>contact@greenharvest.org</p>
                </div>
            </li>
        
            <li>
                <img src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo">
                <div>
                    <strong>UnityServe Volunteers</strong>
                    <p>hello@unityserve.org</p>
                </div>
            </li>
        </ul>
    </main>
<%- include('partials/footer') %>